@media (max-width: 1200px)
    .menu
        &__item
            padding-right: 20px
        &__link
            font-size: 13px
    .promo
        &__header
            font-size: 50px
    .reasons
        &__text
            width: 300px
    .mobile
        &__item
            width: 300px
    .require
        &__block
            padding-right: 75px
        &__title
            font-size: 20px
    footer
        .footer
            &__social
                display: flex
                flex-wrap: wrap
                width: 100px
                margin-left: 90px
                &__item
                    margin-top: 10px
            &__links
                width: 330px
                &__sub
                    flex-wrap: wrap
                    width: 295px
                    padding-left: 30px
            &__lang
                line-height: 50px
            &__mobile
                display: flex
                flex-wrap: wrap
                width: 100px
                margin-right: 75px
                &__item
                    margin-top: 10px
                    &:first-child
                        margin-top: 0
@media (max-width: 991px)

                